<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Ekdam carMart {% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'car5.png'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!-- navbar section now  -->

    <nav class="navbar navbar-expand-lg shadow bg-body-tertiary sticky-top">
      <div class="container">
        <a class="navbar-brand text-success fs-4 fw-bolder"
          ><span class="text-warning fs-1">E</span>kDaM
          <span class="text-danger">ca</span
          ><span class="text-warning fs-1">R</span> Mart
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto p-3 mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <a
                href="{% url 'showData' %}"
                class="btn btn-warning mx-5 text-white"
                type="submit"
                >Profile</a
              >
              <a
                href="{% url 'logout' %}"
                class="btn btn-success text-white"
                type="submit"
                >Logout</a
              >
              {% else%}
              <a
                href="{% url 'register' %}"
                class="btn btn-success mx-4 text-white"
                >Sign Up</a
              >
              <a
                href="{% url 'login' %}"
                class="btn btn-warning text-white"
                type="submit"
                >Login</a
              >
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% if messages %} {% for m in messages %}
    <div
      class="alert alert-success alert-dismissible fade show w-50 m-auto mt-5 mb-5"
      role="alert"
    >
      <h2 class="text-center">{{m}}</h2>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    {% endfor %} {% endif %} {% block content %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
