
.cardHome:hover
{   
    box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75);
transition: 3s;
}
.homeImg
{
    animation: roket 4s linear infinite;
}
@keyframes roket
{
    /* 0%
    {
        
    }
    50%
    {
       

    }
    100%
    {
        
    } */
    0% {
        transform: translateX(-5%) rotate(0deg);
        bottom: 0;
        opacity: 0.5;
    }
    50% {
        transform: translateX(-5%) rotate(10deg);
        bottom: 0;
        opacity: 1;
    }
    100% {
        transform: translateX(-5%) rotate(0deg);
        bottom: 0;
        opacity: 0.5;
    }
}